Flask==3.1.1
flask-cors==6.0.0
Flask-PyMongo==3.0.1
Flask-SocketIO==5.3.6
keras==2.15.0
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.15.0
tensorflow-metal==1.2.0